.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-body {
  max-width: 40rem;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.spelling-suggestion {
     cursor:pointer;
     color:blue;
     text-decoration:underline;
}

.transcription {
  font-size: 1.25rem;
}
